{% extends "loanboard_base.html" %}

{% block title %}Beneficiaries{% endblock %}

{% block content %}

  <style media="screen">
  .file-contents{
    margin: 20px 10px 0 10px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #02cccc;
    width: 100%;
  }

  td {
    text-align: left;
    padding: 8px 8px 8px 8px;
  }

  th{
    text-align: left;
    padding: 10px 0 10px 8px;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  td span{
      cursor: pointer;
      display: block;
      padding: 8px;
  }
</style>

<div class="file-contents">
<table id="tbl">
  {% if beneficiaries %}
  <div class="" style="text-align: center; margin: 10px 0 10px 0; font-size: 1.1em;">
     Beneficiary Information
  </div>
  <tr style="background-color: #02cccc;">
    <th>First Name</th>
    <th>Last Name</th>
    <th style="padding-left: 30px;">F4 Index No</th>
    <th>Registration No</th>
    <th style="text-align: center;">Status</th>
  </tr>
  {% endif %}
  {% for row in beneficiaries %}
  <tr>
    <td>{{row.first_name}}</td>
    <td>{{row.last_name}}</td>
    <td>{{row.form_four_index_no}}</td>
    <td>{{row.reg_no}}</td>
    <td style="text-align: center;">{{row.status}}</td>
  </tr>
  {% endfor %}
</table>
</div>

{% with page=beneficiaries %}
{% include "pagination.html" %}
{% endwith %}

{% endblock %}
