{% extends "loanboard_base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

  <style media="screen">
  .file-contents{
    margin: 20px 10px 0 10px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #02cccc;
    width: 100%;
  }

  td {
    text-align: left;
    padding: 8px 8px 8px 8px;
  }

  th{
    text-align: left;
    padding: 10px 0 10px 8px;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  td span{
      cursor: pointer;
      display: block;
      padding: 8px;
  }
  </style>
  <div class="file-contents">
    <div class="" style="text-align: center; margin: 10px 0 10px 0; font-size: 1.1em;">
       {{filename}}
    </div>
    <table>
      <tr>
        {% for head in data.0 %}
        <th>{{ head }}</th>
        {% endfor %}
      </tr>
      {% for row in data|slice:"1:" %}
      <tr>
        {% for field in row %}
        <td>{{field}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
