<style media="screen">
.statistics-summary{
  margin: 0 auto 0 auto;
  overflow: hidden;
}
#pchart{
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
}
#bchart{
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
}
</style>
<div class="statistics-summary">
  <a id="pchartimg" href="" download="beneficiary_piechart_img.png"> <div id="pchart"></div> </a>
  <a id="bchartimg" href="" download="barchartimg.png"> <div id="bchart"></div> </a>
</div>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawPChart);

function drawPChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Continuous', {{continuous}}],
  ['Discontinued', {{discontinued}}],
  ['Postpone', {{postpone}}],
  ['Complete', {{complete}}],
]);

var options = {
     title: 'Beneficiaries Pie chart',
     pieHole: 0.4,
     width: 600,
     height: 350,
     legend: { position: 'right', alignment: 'start' },
     slices: {0: {color: '#5cc44e'}, 1:{color: '#f44242'}, 2:{color: 'orange'}, 3:{color: '#02cccc'} },
     titleTextStyle: {
       color: '#212121',
       fontName: "'Comfortaa', cursive",
       fontSize: 16,
       bold: false
     }
};
var chart = new google.visualization.PieChart(document.getElementById('pchart'));
chart.draw(data, options);
google.visualization.events.addListener(chart, 'ready', function () {
    var imgUri = chart.getImageURI();
    document.getElementById('pchartimg').href = imgUri;
});
}
</script>

<script language = "JavaScript">
   google.charts.load('current', {'packages':['corechart']});
   google.charts.setOnLoadCallback(function(){ drawBChart({{continuous}}, {{discontinued}}, {{postpone}}, {{complete}}); });
   function drawBChart(continuous, discontinued, postponed, completed) {
      var data = google.visualization.arrayToDataTable([
        ['Status', 'State', { role: 'style' }, { role: 'annotation' }],
        ['Continuous',  continuous, 'color: #5cc44e', continuous],
        ['Discontinued', discontinued, 'color: #f44242', discontinued],
        ['Postponed', postponed, 'color: orange', postponed],
        ['Completed', completed, 'color: #02cccc', completed],
      ]);

      var options = {
           title: 'Beneficiaries Bar Chart',
           width: 600,
           height: 350,
           colors: ['#02cccc'],
           legend: { position: 'none', maxLines: 3 },
           titleTextStyle: {
             color: '#212121',
             fontName: "'Comfortaa', cursive",
             fontSize: 16,
             bold: false
           }
         };

      var chart = new google.visualization.ColumnChart(document.getElementById('bchart'));
      chart.draw(data, options);
      google.visualization.events.addListener(chart, 'ready', function () {
          var imgUri = chart.getImageURI();
          document.getElementById('bchartimg').href = imgUri;
      });
   }
</script>
