{% extends "loanofficer_base.html" %}

{% block title %} Notifications {% endblock %}

{% block content %}

{% if data %}
<style media="screen">
.nav-bar{
  display: none;
}
#piechart{
  position: absolute;
  left: 16%;
}
</style>

  <div id="piechart"></div>

<script type="text/javascript">
     setInterval(send_vreq, 2000);
     function send_vreq(){
     $.ajax(
       {
         type:"GET",
         url: "/university/ajax-get-signing-progress",
         data:{
         },
         success: function( data, status )
         {
             if(status=='success'){
               data=JSON.parse(data);
               google.charts.setOnLoadCallback(function(){ drawBarChart( data['signed_num'], data['unsigned_num'] ); });
               google.charts.setOnLoadCallback(function(){ drawPieChart( data['signed_num'], data['unsigned_num'] ); });
             }
         }
      });
     }
  </script>

<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(function(){ drawPieChart({{signed_num}}, {{unsigned_num}}); });
function drawPieChart(signed_num, unsigned_num) {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Signed', signed_num],
  ['Unsigned', unsigned_num],
]);

var options = {
     title: 'Signing progress summary',
     pieHole: 0.4,
     width: 900,
     height: 600,
     slices: {0: {color: '#02cccc'}, 1:{color: 'gray'} },
     titleTextStyle: {
       color: '#212121',
       fontName: "'Comfortaa', cursive",
       fontSize: 30,
       bold: false
     }
};

var chart = new google.visualization.PieChart(document.getElementById('piechart'));
chart.draw(data, options);

}
</script>
{% endif %}


{% endblock %}
