{% extends "loanofficer_base.html" %}

{% block title %} Notifications {% endblock %}

{% block content %}

  <style media="screen">
  .file-list{
    margin: 20px 50px 0 50px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #02cccc;
    width: 100%;
  }

  td {
    text-align: left;
    padding: 8px 8px 8px 8px;
  }

  th{
    text-align: left;
    padding: 10px 0 10px 8px;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  td span{
      cursor: pointer;
      display: block;
      padding: 8px;
  }

  td a{
      color: #18BC9C;
      text-decoration: none;
  }

  </style>

  <div class="file-list">
    <div class="" style="text-align: center; margin: 10px 0 10px 0; font-size: 1.1em;">
       Beneficiary Information received
    </div>
    <table>
      <tr>
        <th>File Name</th>
        <th style="text-align: right;">Action</th>
      </tr>
      {% for fl in files reversed %}
      <tr>
        <td><a href="/university/file/signing/{{ fl.name }}">{{ fl.name }}</a></td>
        <td style="text-align: right;"><a href="/university/import-for-signing/{{ fl.name }}">Create signing session</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% with page=files %}
  {% include "pagination.html" %}
  {% endwith %}

{% endblock %}
